{% extends "site_base.html" %}

{% load i18n %}
{% load biblion_tags %}

{% block head_title %}Mapa{% endblock %}

{% block tagline %}<h4>Una jornada única para aprender, mejorar, <br>y relacionarte con <a href='https://www.djangoproject.com/'>Django</a>.</h4>{% endblock %}

{% block body_class %}home{% endblock %}
{% block body %}

<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=-34.904974,-57.925224&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=-34.904815,-57.925286&amp;spn=0.004223,0.006866&amp;z=17&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=-34.904974,-57.925224&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=-34.904815,-57.925286&amp;spn=0.004223,0.006866&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

{% endblock %}
